Repository spkane/freecad-robust-mcp-and-more: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety, trivy, mkdocs-build

safety:
  name: safety (dependency vulnerabilities)
  entry: uv run safety scan --policy-file .safety-policy.yml --detailed-output
  language: system
  pass_filenames: false

trivy:
  name: trivy (Dockerfile misconfig)
  entry: trivy
  args:
  - config
  - --severity
  - HIGH,CRITICAL
  - --exit-code
  - '1'
  language: system
  pass_filenames: true

mkdocs-build:
  name: mkdocs (documentation build)
  entry: uv run mkdocs build --strict
  language: system
  pass_filenames: false

fix: MCP bridge status widget and just command fixes
  .codespell-ignore-words.txt
  .github/workflows/macro-test.yaml
  .github/workflows/test.yaml
  .mise.toml
  .pre-commit-config.yaml
  .secrets.baseline
  CLAUDE.md
  addon/FreecadRobustMCP/Init.py
  addon/FreecadRobustMCP/InitGui.py
  addon/FreecadRobustMCP/commands.py
  addon/FreecadRobustMCP/freecad_mcp_bridge/headless_server.py
  addon/FreecadRobustMCP/freecad_mcp_bridge/server.py
  addon/FreecadRobustMCP/status_widget.py
  docs/development/releasing.md
  just/freecad.just
  just/install.just
  just/mcp.just
  just/quality.just
  just/release.just
  just/testing.just
  pyproject.toml
  src/freecad_mcp/server.py
  tests/unit/test_server.py
  uv.lock
Due: safety, mkdocs-build

fix(tests): Use the correct mesa-glx package
  .github/workflows/macro-test.yaml
Due: none

fix(ci): Add fontconfig to GUI test dependencies
  .github/workflows/macro-test.yaml
Due: none

refactor(addon): Extract path utilities into shared module
  addon/FreecadRobustMCP/InitGui.py
  addon/FreecadRobustMCP/commands.py
  addon/FreecadRobustMCP/path_utils.py
Due: none

fix(ci): Use blocking headless_server.py for GUI tests
  .github/workflows/macro-test.yaml
Due: none

refactor(addon): Rename headless_server.py to blocking_bridge.py
  .github/workflows/macro-test.yaml
  CLAUDE.md
  addon/FreecadRobustMCP/freecad_mcp_bridge/blocking_bridge.py
  docs/development/architecture-detailed.md
  docs/development/architecture.md
  docs/getting-started/configuration.md
  docs/getting-started/quickstart.md
  docs/guide/connection-modes.md
  docs/guide/workbench.md
  just/freecad.just
  tests/unit/addon/test_addon_structure.py
Due: mkdocs-build

fix(just): Remove erroneous rm of startup_bridge.py on error
  just/freecad.just
Due: none

fix: General improvements
  .github/actions/setup-freecad/action.yaml
  .github/workflows/macro-test.yaml
  addon/FreecadRobustMCP/freecad_mcp_bridge/blocking_bridge.py
  addon/FreecadRobustMCP/freecad_mcp_bridge/bridge_utils.py
  addon/FreecadRobustMCP/freecad_mcp_bridge/startup_bridge.py
  addon/FreecadRobustMCP/status_widget.py
  just/testing.just
  src/freecad_mcp/tools/documents.py
  src/freecad_mcp/tools/execution.py
  src/freecad_mcp/tools/macros.py
  src/freecad_mcp/tools/objects.py
  src/freecad_mcp/tools/partdesign.py
  src/freecad_mcp/tools/view.py
  tests/unit/addon/test_addon_structure.py
  tests/unit/test_server.py
Due: none

fix: small cleanup
  .github/workflows/macro-test.yaml
  CLAUDE.md
  addon/FreecadRobustMCP/freecad_mcp_bridge/blocking_bridge.py
  docs/development/releasing.md
  src/freecad_mcp/tools/export.py
Due: mkdocs-build

fix: Use apprun for GUI tests in CI
  .github/actions/setup-freecad/action.yaml
  .github/workflows/macro-test.yaml
Due: none

fix: Improving Xvfb tests
  .github/actions/setup-freecad/action.yaml
  .github/workflows/macro-test.yaml
Due: none

chore: remove invalid --no-splash comments
  .github/actions/setup-freecad/action.yaml
  .github/workflows/macro-test.yaml
  dev-notes/freecad-no-splash-bug-report.md
  tests/ci-test/run-gui-test.sh
Due: none

fix: cleanup
  addon/FreecadRobustMCP/freecad_mcp_bridge/server.py
  just/docker.just
  tests/ci-test/setup-freecad.sh
Due: none

test: just commands test suite
  .secrets.baseline
  CLAUDE.md
  addon/FreecadRobustMCP/freecad_mcp_bridge/server.py
  just/install.just
  just/testing.just
  tests/ci-test/setup-freecad.sh
  tests/just_commands/__init__.py
  tests/just_commands/conftest.py
  tests/just_commands/test_coderabbit.py
  tests/just_commands/test_dev.py
  tests/just_commands/test_docker.py
  tests/just_commands/test_documentation.py
  tests/just_commands/test_freecad.py
  tests/just_commands/test_install.py
  tests/just_commands/test_listing.py
  tests/just_commands/test_main.py
  tests/just_commands/test_mcp.py
  tests/just_commands/test_post_checks.py
  tests/just_commands/test_quality.py
  tests/just_commands/test_release.py
  tests/just_commands/test_testing.py
Due: none

test: improve just command tests
  .gitignore
  CLAUDE.md
  just/install.just
  just/testing.just
  tests/ci-test/setup-freecad.sh
  tests/just_commands/__init__.py
  tests/just_commands/conftest.py
  tests/just_commands/test_coderabbit.py
  tests/just_commands/test_docker.py
  tests/just_commands/test_freecad.py
  tests/just_commands/test_listing.py
  tests/just_commands/test_mcp.py
  tests/just_commands/test_post_checks.py
  tests/just_commands/test_quality.py
  tests/just_commands/test_release.py
  tests/just_commands/test_testing.py
Due: none

fix: more general improvements
  just/install.just
  tests/ci-test/setup-freecad.sh
  tests/just_commands/conftest.py
  tests/just_commands/test_docker.py
  tests/just_commands/test_freecad.py
  tests/just_commands/test_mcp.py
  tests/just_commands/test_release.py
Due: none

fix: update FreeCAD MCP bridge and tests
  .secrets.baseline
  addon/FreecadRobustMCPBridge/InitGui.py
  addon/FreecadRobustMCPBridge/commands.py
  addon/FreecadRobustMCPBridge/freecad_mcp_bridge/blocking_bridge.py
  addon/FreecadRobustMCPBridge/path_utils.py
  addon/FreecadRobustMCPBridge/wiki-source.txt
  tests/just_commands/test_release.py
  tests/unit/addon/test_addon_structure.py
Due: none

docs: generate GitHub pages site and link to it.
  .github/workflows/docs.yaml
  .secrets.baseline
  CLAUDE.md
  README.md
  addon/FreecadRobustMCPBridge/Init.py
  addon/FreecadRobustMCPBridge/freecad_mcp_bridge/bridge_utils.py
  addon/FreecadRobustMCPBridge/freecad_mcp_bridge/startup_bridge.py
  addon/FreecadRobustMCPBridge/wiki-source.txt
  docs/index.md
  just/documentation.just
  macros/Cut_Object_for_Magnets/README-CutObjectForMagnets.md
  macros/Cut_Object_for_Magnets/wiki-source.txt
  macros/Multi_Export/README-MultiExport.md
  macros/Multi_Export/wiki-source.txt
  mkdocs.yaml
  pyproject.toml
  tests/integration/test_thread_safety.py
  tests/unit/test_resources.py
  uv.lock
Due: safety, mkdocs-build

fix: General code improvements and DRY refactoring
  .github/workflows/docs.yaml
  addon/FreecadRobustMCPBridge/Init.py
  addon/FreecadRobustMCPBridge/freecad_mcp_bridge/bridge_utils.py
  addon/FreecadRobustMCPBridge/freecad_mcp_bridge/startup_bridge.py
  addon/FreecadRobustMCPBridge/wiki-source.txt
  docs/getting-started/installation.md
  docs/guide/macros.md
  docs/guide/workbench.md
  docs/index.md
  package.xml
  tests/integration/test_thread_safety.py
  tests/just_commands/test_documentation.py
  tests/unit/test_resources.py
Due: mkdocs-build

docs: small corrections
  just/release.just
Due: none

docs: fix
  .secrets.baseline
  addon/FreecadRobustMCPBridge/wiki-source.txt
  just/release.just
Due: none

chore: bump macros to 0.6.0
  macros/Cut_Object_for_Magnets/CutObjectForMagnets.FCMacro
  macros/Cut_Object_for_Magnets/README-CutObjectForMagnets.md
  macros/Cut_Object_for_Magnets/wiki-source.txt
  macros/Multi_Export/MultiExport.FCMacro
  macros/Multi_Export/README-MultiExport.md
  macros/Multi_Export/wiki-source.txt
  package.xml
Due: none

docs: Release improvements
  .secrets.baseline
  addon/FreecadRobustMCPBridge/wiki-source.txt
  just/testing.just
Due: none

refactor: improve DRYness of code
  just/testing.just
  scripts/bridge-helpers.sh
Due: none

fix: version in wiki-source.txt fix
  addon/FreecadRobustMCPBridge/wiki-source.txt
Due: none

fix: Skip safety for dependabot
  .github/workflows/pre-commit.yaml
Due: none

Container security (#32)
  .github/workflows/docker.yaml
  .github/workflows/pre-commit.yaml
  .secrets.baseline
  .trivyignore
  Dockerfile
  addon/FreecadRobustMCPBridge/wiki-source.txt
  just/docker.just
  just/release.just
Due: trivy

fix: Improved release test order
  .secrets.baseline
  just/testing.just
  scripts/release-helpers.sh
Due: none

fix: improve secrets scanning
  just/quality.just
Due: none

refactor: fix test failure tracking and enhance secret scanning (#33)
  .secrets.baseline
  just/quality.just
  just/testing.just
  scripts/release-helpers.sh
Due: none

fix: workbench tag and wiki backup/restore (#34)
  addon/FreecadRobustMCPBridge/wiki-source.txt
  tests/just_commands/test_release.py
Due: none

test: improve docker cpontainer test
  .github/workflows/mcp-server-release.yaml
Due: none

fix: improve release note process
  .dockerignore
  .github/workflows/macro-release-reusable.yaml
  .github/workflows/mcp-server-release.yaml
  .github/workflows/mcp-workbench-release.yaml
  CHANGELOG.md
  CLAUDE.md
  addon/FreecadRobustMCPBridge/RELEASE_NOTES.md
  docs/development/contributing.md
  docs/development/releasing.md
  just/release.just
  just/testing.just
  macros/Cut_Object_for_Magnets/RELEASE_NOTES.md
  macros/Multi_Export/RELEASE_NOTES.md
  pyproject.toml
  src/freecad_mcp/RELEASE_NOTES.md
Due: safety, mkdocs-build

docs: improve release notes
  .github/workflows/mcp-workbench-release.yaml
  CLAUDE.md
  docs/development/releasing.md
  src/freecad_mcp/RELEASE_NOTES.md
Due: mkdocs-build

fix: CVE resolution for jaraco.context
  uv.lock
Due: safety

fix: docker build with uv.lovl
  .github/workflows/docker.yaml
  Dockerfile
Due: trivy

refactor: update .coderabbit.yaml configuration
  .coderabbit.yaml
Due: none

docs: table alignment
  CLAUDE.md
Due: none

Path conditions:
  safety: any of: ^(pyproject\.toml|uv\.lock|\.safety-policy\.yml)$
  trivy: any of: (Dockerfile|\.dockerfile)$
  mkdocs-build: any of: ^(docs/|mkdocs\.yaml)
